//<МИКСИНЫ>===============================================================================================
@import "ui/_mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "ui/_fonts";
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Ubuntu";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1216;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 576.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "ui/_null";
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
body {
  color: #606060;
  font-family: $fontfamily;
  font-size: 16px;
  font-weight: normal;
  &.lock {
    overflow: hidden;
  }

  @media (min-width: $md2+px) {
    font-size: 23px;
  }
}
//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  &.loaded {
  }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: $mw + px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}
.container-sm {
  max-width: 1025px;
}
.scroll {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  @include anim(0.7s, 0s);

  &.intro-nav {
    padding-left: 100px;
    z-index: 11;
    background: #fff;
  }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

@import "_vars";
@import "ui/_ui";
@import "ui/_forms";
@import "ui/_btn";
@import "blocks/_title";

@import "blocks/_section-all";

@import "blocks/_intro";
@import "blocks/_section-01";
@import "blocks/_section-02";
@import "blocks/_section-03";
@import "blocks/_quotes";
@import "blocks/_video";
@import "blocks/_section-04";
@import "blocks/_section-05";
@import "blocks/_quotes-1";
@import "blocks/_section-07";
@import "blocks/_section-08";
@import "blocks/_section-09";
@import "blocks/_section-10";
@import "blocks/_section-11";
@import "blocks/_section-12";
@import "blocks/_section-13";
@import "blocks/_section-14";

@import "blocks/_footer";
@import "blocks/_popup";
