.section-13 {
	background-image: url(../img/section-13-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.btn {
		background-color: #4c7ef8;
		background-image: initial;
		
		&:hover {
			background-color: #3e66cc;
		}
	}
}
.guarantee {
	color: #fff;
	.section-title {
		color: #fff;
	}
	.text-mb {
		margin-bottom: 50px;
	}
}
