/*.section-07 {
	display: flex;
	background-image: url(../img/course-bg.webp);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;

	@media (max-width: $md3+px) {
		flex-direction: column;
	}

}
.course__img {
	margin-top: -50px;
	z-index: 3;

	@media (max-width: $md3+px) {
		margin-bottom: 30px;
	}
	@media (min-width: $md3+px) {
		margin-top: -100px;
		flex: 0 1 50%;
	}
	img {
		width: 100%;
	}
}


*/
.section__list-num {
	counter-reset: myCounter;
	li {
		list-style: none;
		&:before {
			counter-increment: myCounter;
			content: counter(myCounter);
		}
	}
}
.section__list-num {
	list-style-position: inside;
	list-style-type: decimal;
	margin-bottom: 24px;

	@media (min-width: $md2+px) {
		margin-bottom: 54px;
	}
	li {
		position: relative;
		padding-left: 15px;
		line-height: 1.5;

		@media (min-width: $md2+px) {
			padding-left: 25px;
		}
		&:before {
			color: #386cf8;
			position: absolute;
			left: 0;
			top: 0;
			@media (min-width: $md2+px) {
			}
		}
	}
}
.section-course {
	padding-bottom: 40px;
	@media (min-width: $md3+px) {
		padding: 50px 0px;
	}
	&__curs {
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.6px;
		line-height: 22px;
		text-align: justify;

		@media (min-width: $md2+px) {
			font-size: 18px;
			line-height: 23px;
		}
	}

	@media (min-width: $md3+px) {
		margin-left: auto;
	}
}
.section-07 {
	background: linear-gradient(#f2f2f2 100%, #e8e8e8 0%);
	padding: 0;

	.section__list-num {
		column-count: 2;
	}
}
.course {
	display: flex;
	justify-content: flex-start;

	@media (max-width: $md3+px) {
		flex-direction: column;
		padding: 0 10px;
	}
}
.course-col {
	@media (min-width: $md3+px) {
		flex: 0 1 40%;
	}
	img {
		max-width: 100%;
	}

	&__img {
		@media (max-width: $md3+px) {
			margin-bottom: 30px;
		}
		@media (min-width: $md3+px) {
			margin-right: 70px;
		}

		@media (min-width: 1400px) {
			flex: 0 1 30%;
		}
	}
}
.course__img {
	height: 100%;
}
