.section-07 {
	display: flex;
	background-image: url(../img/course-bg.webp);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;

	@media (max-width: $md3+px) {
		flex-direction: column;
	}
	.section__list-num {
		list-style-position: inside;
		column-count: 2;
		list-style-type: decimal;
		margin-bottom: 24px;

		@media (min-width: $md2+px) {
			margin-bottom: 54px;
		}
		li {
			position: relative;
			padding-left: 15px;
			line-height: 1.5;

			@media (min-width: $md2+px) {
				padding-left: 25px;
			}
			&:before {
				color: #386cf8;
				position: absolute;
				left: 0;
				top: 0;
				@media (min-width: $md2+px) {
				}
			}
		}
	}
}
.course__img {
	margin-top: -50px;
	z-index: 3;

	@media (max-width: $md3+px) {
		margin-bottom: 30px;
	}
	@media (min-width: $md3+px) {
		margin-top: -100px;
		flex: 0 1 50%;
	}
	img {
		width: 100%;
	}
}
.section-course {
	max-width: 740px;

	&__curs {
		font-family: "Futura PT Book";
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 0.6px;
		line-height: 22px;
		text-align: justify;

		@media (min-width: $md3+px) {
			font-size: 24px;
			line-height: 30px;
		}
	}

	@media (min-width: $md3+px) {
		margin-left: auto;
	}
}
.section__list-num {
	counter-reset: myCounter;
	li {
		list-style: none;
		&:before {
			counter-increment: myCounter;
			content: counter(myCounter);
		}
	}
}
