.section-13 {
	background-image: url(../img/section-13-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.btn {
		box-shadow: 0 10px 70px #4c7ef8;
	}
}
.guarantee {
	color: #fff;
	.section-title {
		color: #fff;
	}
	.text-mb {
		margin-bottom: 50px;
	}
}
