.section-14 {
	margin-bottom: 50px;

	@media (max-width: $md3+px) {
		padding: 30px 0px;
	}

	p {
		margin-bottom: 24px;
	}

	@media (min-width: $md2+px) {
		.section-title {
			font-size: 22px;
			margin-bottom: 24px;
		}
	}
	@media (min-width: 1400px) {
		.section-title {
			font-size: 30px;
		}
		p {
			margin-bottom: 44px;
		}
	}

	.section-inner {
		padding: 0;
		display: flex;
		justify-content: space-between;
		position: relative;

		@media (max-width: $md3+px) {
			flex-direction: column-reverse;
		}
		&:before {
			content: "";
			position: absolute;
			bottom: -55px;
			left: 0;
			width: 52%;
			height: 3px;
			background-color: #94d4f4;

			@media (min-width: 1200px) {
				bottom: 0;
				width: 45%;
			}
		}
	}
	.section-col {
		flex: 0 1 50%;
		&__image {
			@media (max-width: $md3+px) {
				padding-bottom: 58%;
				margin-bottom: 30px;
			}
		}
		&__contant {
			padding-left: 10px;
			padding-right: 10px;

			@media (min-width: $md3+px) {
				padding-left: 15px;
				padding-right: 15px;
			}
			@media (min-width: $md2+px) {
				padding: 0px 50px 100px 50px;
			}
		}
	}

	input {
		@media (min-width: $md3+px) {
			padding: 18px 0;
		}
		@media (min-width: 1400px) {
			padding: 28px 0;
		}
	}
	.btn {
		box-shadow: 0 2px 18px rgba(76, 126, 248, 0.35);
		font-size: 16px;
		@media (min-width: $md3+px) {
			padding: 18px 0;
			font-size: 20px;
		}
		@media (min-width: 1400px) {
			padding: 28px 0;
			box-shadow: 0 29px 48px rgba(76, 126, 248, 0.35);
		}
	}
}
